# Токен от @BotFather
bot_token=1234567890:AAHdqTcvCH1vGWJxfSeofSAs0K5PALDsaw

# Username канала БЕЗ @
channel_username=arizona_news

# Числовой id канала
channel_id=-1001234567890

# Redis
redis_host=localhost
redis_port=6379
redis_password=your_redis_password
